.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1; /* 부모 요소 벗어나지 않는 선에서 최대한으로 늘어남 */
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: lightpink;
  color: white;
  border-radius: 5px;
}
